h2 {
  margin-left: 15px;
  margin-bottom: 0px;
}
.box-label {
  position: relative;
  top: 10px;
  background-color: white;
  margin-left: 15px;
  font-size: 20px;
}
.resource-container {
  font-size: 20px;
  margin: 5px;
  width: 350px;
  border: 1px solid black;
}
.resource-row {
  margin: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.resource-flex-item.label {
  text-align: left;
}
.resource-flex-item.value {
  text-align: right;
}

.action-container {
  margin: 5px;
  width: 350px;
  border: 1px solid black;
  font-size: 18px;
}

.action-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-button {
  margin: 5px;
  padding: 5px;
  font-size: 15px;
  border: 1px solid black;
}

.button-label {
  margin: 5px;
}
