* {
  box-sizing: border-box;
}

h2 {
  margin-left: 15px;
  margin-bottom: 0px;
}
.box-label {
  position: relative;
  top: 10px;
  background-color: white;
  margin-left: 15px;
  font-size: 20px;
}
#inventory {
  font-size: 20px;
  margin: 5px;
  width: 350px;
  border: 1px solid black;
}
#inventory tr {
  margin: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#inventory tr:first-child {
  text-align: left;
}
#inventory tr:last-child {
  text-align: right;
}

#actions {
  margin: 5px;
  width: 350px;
  border: 1px solid black;
  font-size: 18px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#actions > button {
  margin-bottom: 10px;
  width: 80%;
  font-size: 16px;
}

#actions > button:last-child {
  margin-bottom: 0px;
}
